body {
    background-color: #000000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) 45%, transparent 85%);
}

main .curso {
    display: none;
    height: 100vh;
}

main .curso.selecionado {
    display: block;
}

main .curso .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    z-index: 1;
}


.imagem {
    display: block;
    width: 100%;
}

.titulo{
    font-size: 30px;
    color: #fffafa;
    word-break: break-all;
    font-family: monospace;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, rgb(20, 77, 87), rgb(32, 43, 43));
    display: flex;
    justify-content: center;
    width: 30vw; 
    font-weight: 500;
}

.nome-curso {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1; /* Para garantir que o nome do curso fique acima da imagem */
    max-width: 200px; /* Ajuste conforme necessário */
    word-wrap: break-word; /* Quebra de palavra para nomes longos */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.botao:hover .nome-curso {
    display: block;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 5vh;
    font-size: 25px;
    text-align: justify;
    width: 40vw;
}

.conteudo .logo {
    background-image: url("../imagens/cps.png");
    background-size: cover;
    height: 115px;
    width: 680px;
    margin-bottom: 155px;
    align-items: center;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    position: relative;
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9;
}