@media only screen and (max-width: 1600px) {
    .box {
        width: 35vw; /* Ou a largura desejada para telas menores */
    }
}

@media only screen and (max-width: 1350px) {
    .box {
        width: 40%; /* Ou a largura desejada para telas menores */
    }

    #submit {
        width: 50%; /* Ocupar 100% da largura na tela menor */
        left: 25%; /* Alinhar à esquerda */
    }

    .bolhas span {
        max-width: 30px; /* Ou o tamanho desejado para telas menores */
        max-height: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .box {
        width: 50%; /* Ou a largura desejada para telas menores */
    }
}

@media only screen and (max-width: 750px) {
    .box {
        width: 65%; /* Ou a largura desejada para telas ainda menores */
    }


    .bolhas span {
        width: 20vw;
        height: 20vw;
        max-width: 40px; /* Ou o tamanho desejado para telas ainda menores */
        max-height: 40px;
    }


}

@media only screen and (max-width: 600px) {
.box {
    width: 80%; /* Ou a largura desejada para telas ainda menores */
}
}

@media only screen and (max-width: 450px) {

    .box {
        width: 90%; /* Ou a largura desejada para telas ainda menores */
        height: 80vh;
    }

    h1 {
        font-size: 25px;
    }
   
}

@media only screen and (max-width: 390px) {
    .box {
        width: 90%; /* Ou a largura desejada para telas ainda menores */
        height: 100vh;
    }

    h1 {
        display: none;
    }
}
    